<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthService" />
        <binding name="BasicHttpBinding_ILogging" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58941/AuthService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAuthService" contract="AuthService.IAuthService"
        name="BasicHttpBinding_IAuthService" />
      <endpoint address="http://localhost:55236/Logging.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILogging" contract="LoggingService.ILogging"
        name="BasicHttpBinding_ILogging" />
      <!-- endpoint address="http://localhost:58438/AuthService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAuthService1" contract="AuthService.IAuthService"
        name="BasicHttpBinding_IAuthService1" / -->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <add key="tempDir1" value="C:\ANF\tmp\"  />
    <add key="importDir1" value="C:\ANF\vorlagen\"  />
    <add key="templateDir1" value="C:\ANF\xslTemplates\"  />
    <add key="cacheFile1" value="C:\ANF\cache.xml"  />



    <add key="tempDir"      value="C:\wbd\Data\Print_Temp\"           />
    <add key="importDir"    value="C:\wbd\Data\Share\Vorlagen\"       />
    <add key="templateDir"  value="C:\wbd\Data\Xslt_Templates\"       />
    <add key="cacheFile"    value="C:\wbd\Data\Print_Temp\cache.xml"  />









    <add key="printingApp" value="C:\WINDOWS\write.exe"  />
    <add key="ConnectionString" value="/mmPCC090R/JJ379/p52N0fE8Ib6g0TrXuvTwc+77wzcs00n3CrfvWxGaOfhbA3L1ci6P1U0/ShZVKHRc4r743QFEJftTNd1aN514jJ0UbWpucie6+t2+ZJI5OK4MV2PoL0KEHXWc7HXaToqx+L3nE6sleb7ksdC395gfP1riNg1Z6/gg5cTdfyWdYVkpiVw1QDaiLkKdNNbfDu336oBHgYVmR8u2YUtJtYSZh+zkTmT4pTh1MLoX7AYMhfEot4E8kXkEfq2sTcpfPII+dd78xqL0Pc89x8l+adC4SlgemH+CzZOsovBqt+3nZXDMsp1Em6k032ePLVxqUgduac0OdEEreKbPgk/ORQ4rR71iVU3claWi/MCaaDgD5z79y/XrwNQeXz3Z1hckr5N3eYNaiioowuFNLJajR3JihxH3YFDRcuXsGbRdVVyPwqY6IgafODN1D/MYtoX7sQapo6Q+Q==" />
    <add key="DBConnectionPoolsize" value="2" />
    <add key="SignatureDirectory" value="C:\ANF\signatures\" />
    <add key="ctrlList1" value="Kontrolliste.rtf"  />
    <add key="ctrlList2" value="Kontrolliste2.rtf"  />
    <add key="GemeinsamMit" value=" gemeinsam mit "  />
    


  </appSettings>

</configuration>
